<%- contentFor("headContent") %>
<title><%= restDetails.name %></title>

<%- contentFor("bodyContent") %>

<section class="row container">

	<% categories.forEach((category) =>{ %>
			<div class="col-md-3 col-sm-4 col-xs-4 col-6">
				<a href="/restaurant/<%= restId %>/dishes/<%= category.categoryId %>">
					<div id="paneermenu-tile">
						<img width="150" height="150" src="<%= category.image %>">
						<span><%= category.name %><br></span>
					</div>
				</a>
			</div>
		<% }
	); %>
</section>
</div>